
@font-face {
  font-family: 'FiraCode-Medium';
  src: url(../fonts/FiraCode-Medium.ttf);
}





h3 {
  font-size: 14px;
}

.contact-mobile .text-black {
  font-weight: bolder;
}


.customer-table {
  font-family: FiraCode-Medium;
}
