

@font-face {
  font-family: 'karst-light';
  src: url(../fonts/karst-light-webfont.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Novecentosanswide-Normal';
  src: url(../fonts/Novecentosanswide-Normal-webfont.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'sofiapro-light';
  src: url(../fonts/sofiapro-light-webfont.woff);
  font-display: swap;
}


@font-face {
  font-family: 'Questa_Sans_Regular';
  src: url(../fonts/2-Questa_Sans_Regular-webfont.woff);
  font-display: swap;
}

@font-face {
  font-family: 'Novecentosanswide-Medium';
  src: url(../fonts/Novecentosanswide-Medium-webfont.woff);
  font-display: swap;
}

@font-face {
  font-family: 'cynthonext-light';
  src: url(../fonts/cynthonext-light-webfont.woff2);
  font-display: swap;
}

















.App {
  text-align: center;
}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #066aff;
}



h1 {
  font-family: Questa_Sans_Regular;
  letter-spacing: 0.5px;
}

h2 {
  font-family: sofiapro-light;
  font-size: 18px;
  letter-spacing: 0.5px;
}

h3 {
  font-family: Questa_Sans_Regular;
  font-size: 16px !important;
  color: #575555;
  letter-spacing: 0.5px;
}

h4 {
  font-family: Questa_Sans_Regular;
  font-size: 15px !important;
  letter-spacing: 0.5px;
}

thead th > div, th {
    font-family: Questa_Sans_Regular !important;
    font-size: 12px !important;
    align-items: center;
}


div {
  font-family: cynthonext-light;
  font-weight: bold;
  font-size: 13.5px;
  letter-spacing: 0.2px;
  word-spacing: 0.1px;
}


table {
  letter-spacing: -0.01em; 
}

th, td {
  padding: 0.25rem 0.5rem; 
}


.app-Name {
  font-family: Novecentosanswide-Medium;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
  display: inline-block;
  transform: translateZ(0);
}

.app-Name:hover {
  color: #066aff; 
  transform: scale(1.05); 
}



.myLoginBackground {
  width:100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  background: #000000;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(115, 115, 115, 1) 97%, rgba(54, 50, 22, 1) 100%);
}

.whiteBox {
  background-color: white;
  padding: 20px;
  min-width: 300px;
  height: 70%;
  width: 25%;
  border: 1px solid #333;
}

.itemBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.title {
  font-size: 20px;
  color: #333;
}

.myForm, myButton {
  width: 100%;
}

.myButton {
  background-color: brown !important; 
  cursor: pointer;
}

button {
  cursor: pointer;
}

.button {
  cursor: pointer;
}
